<form class="form mat-elevation-z8">
    <h1>criando novo serviço</h1>
    <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="servicos.nome" [formControl]="nome" required name="nome" maxlength="100" matInput placeholder="Ex. Eletricista">
        <mat-error *ngIf="nome.invalid">{{ errorValidName() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Custo</mat-label>
        <input [(ngModel)]="servicos.custo" [formControl]="custo" required name="custo" maxlength="100" matInput placeholder="Ex. R$1000">
        <mat-error *ngIf="custo.invalid">{{ errorValidCusto() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input [(ngModel)]="servicos.telefone" [formControl]="telefone" required name="telefone" maxlength="18" matInput placeholder="Ex. (00)90000-0000">
        <mat-error *ngIf="telefone.invalid">{{ errorValidTelefone() }}</mat-error>
    </mat-form-field>

    <button class="mat-elevation-z8" (click)="create()" [disabled]="errorValidName() || errorValidCusto() || errorValidTelefone()" mat-stroked-button color="accent">CRIAR</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
</form>